html {
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-weight: 100;
    font-size: 96px;
    text-align: center;
    margin-top: 7.5%;
}

h2 {
    font-weight: 300;
    font-size: 64px;
    text-align: center;
}

h3 {
    font-weight: 300;
    font-size: 32px;
}

h4 {
    font-weight: 300;
    font-size: 24px;
}

#curr-weather-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 170px;
    transition: all 500ms ease-in-out;
}

#curr-weather-wrapper:hover{
    background: rgba(169, 169, 169, 0.2);
    border: 1px solid rgba(0, 0, 0, 1);
}

#curr-weather-wrapper:hover #min-max-wrapper{
    opacity:100;  
}

#curr-weather-wrapper:hover #hpa-wrapper{
    opacity:100;  
}
#img-and-temp-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

#min-max-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    opacity:0;
    transition: all 500ms ease-in-out;
}

#hpa-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    opacity:0;
    transition: all 500ms ease-in-out;
}

#curr-weather {
    height: 115px;
    width: 115px;
    display: none;
    transition: 0.5s;
}

#currTemp{
    transition: 0.5s;
    cursor: pointer;
}

#currTemp:hover{
    font-size: 72px;
}

#curr-weather:hover {
    height: 125px;
    width: 125px;
}


#next-wrapper {
    display: flex;
    justify-content: center;
    display: none;
}

#next-5-days {
    display: grid;
    grid-template-columns: repeat(5, 148px);
    grid-template-rows: repeat(3, minmax(1fr, 100px));
    text-align: center;
    justify-items: center;
    align-items: center;
    grid-column-gap: 15px;
    margin-top: 25px;
}

#next-5-days h3 {
    align-self: flex-end;
}

#next-5-days h4 {
    align-self: flex-start;
}

.img-5days {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}

#left-footer {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 50px
}

#left-footer h3 {
    margin-left: 25px;
    align-self: center;
}

#right-footer {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.material-icons-outlined.md-48 {
    font-size: 48px;
    cursor: pointer;
}

.on-hover-bigger{
    transition: 0.5s;
}
.on-hover-bigger:hover{
    font-size:32px;
}